@media(max-width: 480px) {
    .header-pedido-urgente{
        align-items: center !important;
    }
    .header-text-pedido,
    .header-text-impressao{
        margin-bottom: 0;
        margin-right: 10px !important;
    }
    .header-pedido-urgente > p:nth-child(3n){
        display: none;
    }
    .header-link-confira{
        width: 10em;
    }
}

@media screen and (min-width: 600px) and (max-width: 920px) {
    .header-pedido-urgente{
        align-items: center !important;
    }
    .header-link-confira{
        width: 10em;
    }
}