@media(max-width: 480px) {
    .header-pedido-urgente{
        align-items: center;
    }
    .header-text-pedido,
    .header-text-impressao{
        margin-bottom: 0;
        margin-right: 10px;
    }
    .header-pedido-urgente > p:nth-child(3n),
    .header-text-grafica,
    .header-menu-info > li:nth-child(3n){
        display: none;
    }
    .header-link-confira{
        width: 10em;
    }
    .header-info{
        padding: 1em 0;
    }
    .header-menu-info,
    .header-redes-sociais{
        margin-bottom: 0;
    }
    .header-info > ul {
        align-items: center;
    }
    .header-pesquisa{
        display: block;
    }
    .header-logo{
        margin: 0;
        text-align: center;
    }
    .header-barra-pesquisa {
        margin-right: 5px;
        margin-left: 5px;
        margin-top: 8px;
        width: auto;
    }
    .header-usuario{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 1em;
    }
    ::placeholder{
        font-size: .7em;
    }
    .header-menu > nav > ul > li{
        display: none;
    }
    .header-menu > nav > ul > li:first-child{
        display: block;
    }
    .section-calendario > a > img{
        width: 100%;
    }
    .section-titulo > hr {
        width: 24%;
    }
    .section-produtos-mais-vendidos > .section-titulo > h1 {
        font-size: 1.1875rem;
    }
    .section-ponto-venda > .section-titulo > h1,
    .section-encante-seus-clientes > .section-titulo > h1{
        font-size: 0.8125rem;
    }
    .footer-info{
        flex-wrap: wrap;
    }
    .footer-info > p {
        margin-top: 3px;
        margin-bottom: 5px;
    }
    .footer-info > p > a{
        font-size: 12px;
    }
    .footer-institucional, .footer-icones, .footer-seguranca-site {
        margin-top: 6px;
    }
    .footer-intitucional-info > p{
        display: inline-block;
        font-size: 0.625rem;
    }
    .footer-intitucional-info > p {
        flex: 0 0 22%;
    }
    .footer-icones {
        display: block;
    }
    .footer-wrap{
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 600px) and (max-width: 920px) {
    .header-pedido-urgente{
        align-items: center;
    }
    .header-link-confira{
        width: 10em;
    }
    .header-logo {
        margin-right: 0;
    }
    .header-logo > a > img {
        max-width: 120px;
    }
    .header-barra-pesquisa {
        width: auto;
        margin-right: 0;
    }
    .header-input {
        padding: 2px 17px;
    }
    .header-input > i {
        margin-top: -22px;
    }
    ::placeholder{
        font-size: .7em;
    }
    .header-menu > nav > ul > li{
        display: none;
    }
    .header-menu > nav > ul > li:first-child{
        display: block;
    }
    .section-calendario > a > img{
        width: 100%;
    }
    .footer-info > p > a{
        font-size: 0.75rem;
    }
}